
/* welcome class */

.welcomeContainer {
    width: 100%;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
    background-image: url('../../img/welcome.jpg');
    background-size: cover;
    background-position: center;
}

.frame {
    width: 960px;
    margin: auto;
    height: 100%;
    padding: 50px 0;
}

.welcomeText {
    width: 40%;
}

.welcomeText h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.welcomeText h5{
	line-height: 24px;
	margin-bottom:20px;
}

.welcomeButton{
	width:200px;
	height:50px;
	font-size:16px;
	background-color: #4267b2;
	color:white;
	line-height: 50px;
	border:none;
	cursor: pointer;
}

.welcomeButton:hover{
	background-color: black;
	color:white;
}

.whiteCover {
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
    /* IE6-9 */
}

/* StudyList class */


.listTitle{
	margin: 0 0 24px 10px;
}
.studyList{
	overflow: hidden;
	margin-bottom:24px;
}

.studyListBox {
	background-color: white;
	width:300px;
	float:left;
	margin:0 10px 24px;
	box-shadow:0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
	cursor: pointer;
	background-size:cover;
	background-position: center;
}

.studyListBox .wrapper:hover {
	background-color: rgba(0,0,0,.5);
	color:white;
}

.studyListBox .wrapper{
	padding:20px 15px;
	background-color: rgba(255,255,255,.7)
}



.studyTitle{
	font-size: 24px;
	font-weight: 600;
	margin-bottom:12px;
}

.studyDescription {
	text-align: right;
}

.studyMember {
	font-size: 12px;
	margin-bottom:6px;
}