header {
	height:54px;
	padding:0 20px;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

#logo{
	font-family: 'Nanum Brush Script', cursive;
	font-size:2em;
	display: inline-block;
	line-height: 54px;
}

nav {
	display: inline-block;
	float:right;
}

nav ul {
	display: inline-block;
}

nav li{
	display: inline-block;
	line-height: 54px;
	padding:0 10px;
	margin:0 5px;
	cursor: pointer
}

nav li:hover{
	background-color: black;
	color:white;
}

.searchBar{
	line-height: 40px;
	float:right;
	margin:6px 20px;
	

}

.searchBar input {
	background-color: #ecf0f1;	
	border:none;
		color:black;
	height:40px;
	width:200px;
	padding: 0 20px;
	border-radius: 20px;
}

.menuButton{
	float:right;
	height:16px;
	width:24px;
	padding-top:28px;
	cursor:pointer;
}

#menuButton {
	position: absolute;
	width:24px;
	height:2px;
	background-color:white;
	transform:translateY(-50%);
	transition:all .25s ease;
	-moz-transition:all .25s ease;
	-webkit-transition:all .25s ease;
	-o-transition:all .25s ease;
}

#menuButton::before {
	content: "";
	position:absolute;
	width:24px;
	height:2px;
	background-color:inherit;
	transform: translateY(-6px);
}

#menuButton::after {
	content: "";
	position:absolute;
	width:24px;
	height:2px;
	background-color:inherit;
	transform: translateY(6px);
}

.menuButton:hover #menuButton::before {
	transform: translateY(-8px);
	-moz-transform: translateY(-8px);
	-o-transform: translateY(-8px);
	-webkit-transform: translateY(-8px);
	-ms-transform: translateY(-8px);
	transition:all .25s ease;
	-moz-transition:all .25s ease;
	-o-transition:all .25s ease;
	-webkit-transition:all .25s ease;
}

.menuButton:hover #menuButton::after {
	transform: translateY(8px);
	-moz-transform: translateY(8px);
	-o-transform: translateY(8px);
	-webkit-transform: translateY(8px);
	-ms-transform: translateY(8px);
	transition:all .25s ease;
	-moz-transition:all .25s ease;
	-o-transition:all .25s ease;
	-webkit-transition:all .25s ease;
}